<div class="container-fluid poke-page" *ngIf="pokemon; else loading">
  <div class="pageTitle">
    <h2>Informations sur {{ pokemon.name.fr }}</h2>
  </div>
  <div class="header">
    <img
      [src]="isShiny ? pokemon.sprites.shiny : pokemon.sprites.regular"
      [alt]="pokemon.name.fr"
    />
    <h3>#{{ pokemon.pokedex_id }} - {{ pokemon.name.fr }}</h3>
    <input
      class="btn btnShiny"
      (click)="toggleShiny()"
      [value]="isShiny ? 'Shiny' : 'Classique'"
      [ngClass]="{ colorNormal: !isShiny, colorShiny: isShiny }"
    />
  </div>

  <div style="width: 25rem">
    <div class="card-header">Information générales</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="types">
          <div
            *ngFor="let type of pokemon.types"
            class="elemType align-item-center"
            [ngStyle]="{ 'background-color': colorType(type.name) }"
          >
            <p>
              {{ type.name }}
              <img [src]="type.image" [alt]="type.name" />
            </p>
          </div>
        </div>
      </li>
      <li class="list-group-item">Catégorie : {{ pokemon.category }}</li>
      <li class="list-group-item">Taille : {{ pokemon.height }}</li>
      <li class="list-group-item">Poids : {{ pokemon.weight }}</li>
      <li class="list-group-item">
        Taux de capture :
        {{ (pokemon.catch_rate / maxStat) * 100 | number : "1.2-2" }} %
      </li>
    </ul>
  <div class="card-header">Groupe d'œufs</div>
  <ng-container *ngIf="pokemon.egg_groups && pokemon.egg_groups.length > 0; else norepro">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let group of pokemon.egg_groups">
        {{ group }}
      </li>
    </ul>
  </ng-container>

<ng-template #norepro>
  <div style="text-align: center; height: 20px">
    Pas de reproduction possible
  </div>
</ng-template>


  <div class="card-header">Talents</div>
  <ng-container *ngIf="pokemon.talents && pokemon.talents.length > 0; else talentless">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let talent of pokemon.talents">
        {{ talent.name }}
      </li>
    </ul>
  </ng-container>

<ng-template #talentless>
  <div style="text-align: center; height: 20px">
    Aucun talent
  </div>
</ng-template>

  </div>

  <!-- Carte pour Statistiques -->
  <div style="width: 25rem">
    <div class="card-header">Sexe</div>
        <p class="card-text text-center align-bottom sexTitle">
          Mâle ♂ / Femelle ♀
        </p>
        <div
          *ngIf="pokemon.sexe; else unknown"
          class="sexContainer"
          style="width: 95%; display: flex; height: 20px"
        >
          <div
            [ngStyle]="{
              'width': pokemon.sexe.male + '%',
            }"
            class="maleContainer"
          >
            {{ pokemon.sexe.male }}%
          </div>
          <div
            [ngStyle]="{
              'width': pokemon.sexe.female + '%',
            }"
            class="femaleContainer"
          >
            {{ pokemon.sexe.female }}%
          </div>
        </div>
        <ng-template #unknown>
          <div style="text-align: center; height: 20px">Unknown</div>
        </ng-template>
    <div class="card-header">Base stats</div>
    <div *ngFor="let stat of pokemon.stats | keyvalue" class="stat-container">
      <!-- Nom et valeur de la statistique -->
      <p>{{ stat.key }} : {{ stat.value }}</p>
      <!-- Jauge de progression -->
      <div class="progress-bar">
        <div
          class="progress"
          [ngStyle]="{ width: (stat.value / maxStat) * 100 + '%' }"
        ></div>
      </div>
    </div>
  </div>
        <!-- Carte pour Sexe -->



<!-- Carte pour Résistances -->
<div class="" style="width: 100vw">
  <div class="card-header">Résistances</div>

  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th *ngFor="let res of pokemon.resistances"
            [ngStyle]="{ 'background-color': colorType(res.name), color: 'white' }">
          {{ res.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th *ngFor="let res of pokemon.resistances">
        <p *ngIf="res.multiplier < 1" 
            [ngStyle]="{ 'color': 'green'}">
          x {{ res.multiplier }}
        </p>
        <p *ngIf="res.multiplier > 1" 
            [ngStyle]="{ 'color': 'red'}">
          x {{ res.multiplier }}
        </p>
                <p *ngIf="res.multiplier === 1" >
          x {{ res.multiplier }}
        </p> 
      </th>
      </tr>

    </tbody>
  </table>
</div>

<section style="width: 100vw" class="evolution-container">
  <div class="card-header">Évolutions</div>

  <ng-template #noEvo>
    <p>Aucune évolution.</p>
  </ng-template>

  <div *ngIf="pokemon.evolution; else noEvo">
    <div class="evo-grid">

      <!-- Pré-évolutions -->
      <div *ngIf="pokemon.evolution.pre?.length" class="evo-group">
        <h4>Pré-évolutions</h4>
        <div *ngFor="let pre of pokemon.evolution.pre" class="evo-card">
          <p><a class="poke-link" [routerLink]="['/pokemon', pre.pokedex_id]">#{{ pre.pokedex_id }} - {{ pre.name }}</a> ({{ pre.condition }})</p>
          <img
            [src]="'https://raw.githubusercontent.com/Yarkis01/TyraDex/images/sprites/' + pre.pokedex_id + '/regular.png'"
            [alt]="pre.name"
          />
        </div>
      </div>

      <!-- Pokémon actuel -->
      <div class="evo-group">
        <h4>Évolution actuelle</h4>
        <div class="evo-card">
          <p>#{{ pokemon.pokedex_id }} - {{ pokemon.name.fr }}</p>
          <img
            [src]="'https://raw.githubusercontent.com/Yarkis01/TyraDex/images/sprites/' + pokemon.pokedex_id + '/regular.png'"
            [alt]="pokemon.name.fr"
          />
        </div>
      </div>

      <!-- Évolutions suivantes -->
      <div *ngIf="pokemon.evolution.next?.length" class="evo-group">
        <h4>Évolutions suivantes</h4>
        <div *ngFor="let next of pokemon.evolution.next" class="evo-card">
          <p><a class="poke-link" [routerLink]="['/pokemon', next.pokedex_id]">#{{ next.pokedex_id }} -  {{ next.name }} </a> ({{ next.condition }})</p>
          <img
            [src]="'https://raw.githubusercontent.com/Yarkis01/TyraDex/images/sprites/' + next.pokedex_id + '/regular.png'"
            [alt]="next.name"
          />
        </div>
      </div>

      <!-- Méga-évolutions -->
      <div *ngIf="pokemon.evolution.mega?.length" class="evo-group">
        <h4>Méga-évolutions</h4>
        <div *ngFor="let mega of pokemon.evolution.mega" class="evo-card">
          <p>Méga-évolution - Orbe: {{ mega.orbe }}</p>
          <img
            [src]="mega.sprites.regular"
            [alt]="'Méga ' + pokemon.name.fr"
          />
        </div>
      </div>

    </div>
  </div>
</section>
</div>

<ng-template #loading>
  <div class="container">
    <p>Chargement des informations du Pokémon...</p>
  </div>
</ng-template>
